.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.biome.json
.eslint.config.mjs
.husky/**
.lintstagedrc.json
tsconfig.json
esbuild.js
ABOUT.md
ROADMAP.md
vsc-extension-quickstart.md
sample.prompt
samples/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
